<div class="jumbotron">
    <h1>Сортировщик карт</h1>
    <p class="lead">Сервис позволяет создавать любые колоды карт и по-разному сортировать.</p>
    <p class="lead">Порядок действий:</p>
    <p class="lead">1. Создайте Масть, указав название </p>
    <p class="lead">2. Создайте Значение, указав название </p>
    <p class="lead">3. Создайте Карту, выбрав Значение и Масть из ранее созданных вариантов</p>
    <p class="lead">4. Создайте Колоду, выбрав Карты из всех ранее созданных вариантов</p>
    <p class="lead">5. Нажмите Подробно для созданной Колоды</p>
    <p class="lead">6. Здесь вы можете сортировать колоду в случайной порядке, с имитацией ручной сортировки и вернуть порядок карт в колоде в первоначальное состояние</p>
</div>
